{% extends "layout.html.twig" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h2>Updates in sources</h2>
        <table class="table table-condensed table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.name_source }}</td>
                        <td>{{ row.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
